body {
  margin: 0;
}

:root {
  font-family: "Anton";
  --white-bg: white;
  --green-color: #08a56c;
  --green-hover: #059862;
  --lightgreen-color: #d9eee1;
  --yellow-color: #fff4a3;
  --pink-color: #ffc0c7;
  --lightpink-color: #f3ecea;
  --gray-color: #282a35;
  --text-primary: white;
  --lightgray-color: #f1f1f1;
  --black-color: #000000;
  --light-graycolor: #9F9F9F;

  --spacing: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  height: 60px;
  background-color: var(--white-bg);
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  box-sizing: border-box;
}

.header-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left .nav-link {
  display: flex;
  padding: 16px;
  height: 100%;
  align-items: center;
  gap: 4px;
}

.header-left .nav-link:hover {
  background-color: var(--green-color);
  color: var(--text-primary);
}

.header-left .nav-link:hover a,
.header-left .nav-link:hover i {
  cursor: pointer;
  color: var(--text-primary);
}

.header-left svg {
  fill: var(--green-color);
  width: 43px;
  height: 36px;
  padding: 16px 16px;
}

.header-left a:hover path {
  fill: var(--green-hover) !important;
  cursor: pointer;
}

.header-right {
  display: flex;
}

.header-right .nav-link {
  display: flex;
  padding: 8px 16px;
  height: 100%;
  gap: 4px;
}

.header-right .nav-link:hover {
  border-radius: 20px;
  background-color: var(--lightgray-color);
}

.btn-primary {
  background-color: var(--green-color);
  border: none;
  color: var(--text-primary);
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: var(--green-hover);
}

.btn-yellow {
  background-color: var(--yellow-color);
  border: none;
  color: var(--black-color);
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.btn-yellow:hover {
  background-color: #fff080;
}

.btn-pink {
  background-color: var(--pink-color);
  border: none;
  color: var(--black-color);
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.btn-pink:hover {
  background-color: #ffb3bb;
}

.btn-grey {
  background-color: var(--gray-color);
  border: none;
  color: var(--text-primary);
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.btn-grey:hover {
  background-color: var(--black-color);
}

.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  gap: 20px;
  padding: 0px 80px;
  background-color: var(--gray-color);
  position: fixed;
  top: 60px;
  width: 100%;
  box-sizing: border-box;
}

.courses-header a {
  padding: 8px 8px;
}

.courses-header a:hover {
  background-color: var(--black-color);
}

.main {
  height: 400px;
  padding: 80px 0px;
}

.hero {
  padding: 80 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: var(--gray-color);
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--text-primary);
}

.hero h1 {
  font-size: 64px;
  margin: 0;
}

.hero p {
  margin: 0;
  font-size: 24px;
  color: var(--yellow-color);
}

.hero a {
}

.input-wrapper {
  width: 400px;
  position: relative;
}

.input-wrapper input {
  border: 2px solid white;
  border-radius: 20px;
  width: 100%;
  padding: 8px 16px;
}

.input-wrapper button {
  background-color: var(--green-color);
  border: none;
  height: 100%;
  border-radius: 0 15px 15px 0;
  color: var(--text-primary);
  width: 100px;
  aspect-ratio: 1;

  position: absolute;
  right: 0;
}

.input-wrapper button:hover {
  background-color: var(--green-hover);
  cursor: pointer;
}

.svg-wrapper svg {
  width: 100%;
  height: 80px;
}

.html-intro {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40 var(--spacing);
  background-color: var(--lightgreen-color);

}

.intro-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.intro-left h2 {
  font-size: 90px;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 0;
}

.intro-left p {
  font-weight: normal;
}

.intro-left .btn-primary,
.intro-left .btn-yellow,
.intro-left .btn-pink,
.intro-left .btn-grey {
  width: 200px;
}

.intro-right {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--lightgray-color);
  border-radius: 8px;
  gap: 12px;
  box-shadow: 0px 0px 12px 2px rgb(143, 143, 143);
  width: 450px;
  box-sizing: border-box;
}

.intro-right h3 {
  font-weight: normal;
  margin: 0;
}

.intro-right .btn-primary {
  width: 50%;
}

.html-code {
    border-left: 4px solid var(--primary-color);
    padding: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.html-code p {
  margin: 0;
}

.css-intro {
display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40 var(--spacing);
  background-color: var(--yellow-color);
}

.css-code {
  background-color: var(--white-bg);
  height: fit-content;
}

.css-code p {
  margin: 0;
}

.programing-lang {
 /* display: flex; */
    /* flex-wrap: wrap;    */
    /* justify-content: space-around; */
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 40px var(--spacing);
    box-sizing: border-box;
}

.lang-card {
  background-color: lightgreen;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 570px; */
  /* height: 217px; */
  padding: 20px var(--spacing-mobile);
  border: 1px solid black;
}

.programing-lang2 {
  /* background-color: var(--gray-color); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.lang-short {
  background-color: pink;
  border: 1px solid black;
  padding: 28px 42px;
  border-radius: 24px;
  font-size: 32px;
}

.double-col {
  grid-column: span 2;
}

.footer {
  background-color: var(--gray-color);
  padding: 40px 0;
}

.footer-title {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 40px var(--spacing-mobile);
  box-sizing: border-box;
}

.footer-title a {
  color: var(--yellow-color);
  text-decoration: none;
}

.footer-title a:hover {
  text-decoration: underline;
}

.footer-grid a,
.footer-grid h3 {
  color: var(--text-primary);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  width: 100%;
  margin: auto;
  gap: 32px;
  box-sizing: border-box;
}

.footer-grid-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  padding-top: 80px;
  gap: 20px;
}

.social-icons {
  color: var(--text-primary);
}

@media screen and (width < 1512px) {
  .header-right .nav-link:nth-child(1) {
    display: none;
  }
}

@media screen and (width < 1400px) {
  .header-right .nav-link:nth-child(2) {
    display: none;
  }
}

@media screen and (width < 1330px) {
  .header-right .nav-link:nth-child(3) {
    display: none;
  }
}

@media screen and (width < 1232px) {
  .header-left .nav-link.menu {
    display: flex;
  }

  /* .header-left .nav-link {
        display: none;
    } */

  .header-left .nav-link:not(.menu) {
    display: none;
  }

  .header-right .nav-link:nth-child(4) {
    display: none;
  }
}

@media screen and (width < 992px) {
  :root {
    --spacing: 32px;
  }

  .intro {
    flex-direction: column;
  }

  .intro-left {
    align-items: center;
  }

  .programming-languages {
    grid-template-columns: 1fr;
  }

  .programming-languages-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-title {
    flex-direction: column;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .intro-right {
    width: 100%;
  }
}

@media screen and (width < 600px) {
  :root {
    --spacing: 16px;
  }

  .programing-lang {
    grid-template-columns: 1fr;
  }

  .intro-right {
    display: none;
  }

  .programing-lang2 {
    grid-template-columns: 1fr;
  }

  .double-col {
    grid-column: span 1;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
